<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12"><%= image_tag "placcidentsLogo.png" %></div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div id="map"></div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div id="currentYear"><h2 id="currentYearText"></h2></div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div id="slider"></div>
		</div>
	</div>
</div>