<h1>Listing accidents</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accidents.each do |accident| %>
  <tr>
    <td><%= link_to 'Show', accident %></td>
    <td><%= link_to 'Edit', edit_accident_path(accident) %></td>
    <td><%= link_to 'Destroy', accident, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accident', new_accident_path %>
