// Place all the styles related to the Accidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Pacifico);

.container-fluid {
	max-width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

#map {
	height: 500px;
	border: 1px solid #111;
}

.row-fluid {
	margin-top: 15px;
}

#slider {
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	float: left;
}

#currentYearText {
	margin-top: 15px;
}

.emphasis {
	font-family: 'Pacifico', cursive;
	font-size: 12em;
	font-weight: 400;
	color: #000;
}

.red {
	color: #F01;
}

.textCenter {
	text-align: center;
}

.marginTop15 {
	margin-top: 15px;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	font-weight: 200;
	color: #000;
}

h2 {
	color: #000;
}